#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span,
#fp-nav ul li:focus a span, .fp-slidesNav ul li:focus a span,
#fp-nav ul li:active a span, .fp-slidesNav ul li:active a span {
  width: 10px;
  height: 10px;
  /* margin: -5px 0px 0px -5px; */ }

.s1 .logosp {
  max-width: 110%; }

.block-redes a{
  transition: .3s;
}
.block-redes a:hover{
  opacity: 0.4;
}
.pollo{
  max-width: 60%;
}

.tituloRecetas hr{	
  width: 100%;
  margin:10px  auto;
  max-width: 480px;}


@media screen and (min-width: 768px) {
  .s1 .logosp {
    max-width: 100%; }
  .s1 .participa {
    font-size: 22px;
    line-height: 1.5em !important; }
  .s1 .frasehome {
    max-width: 70%; } 
  
    .pollo{
      max-width: 100%;
    }
      

  }

.block-redes {
  width: 100%;
  max-width: 198px;
  margin: auto;
  display: block; }
  .block-redes a {
    text-align: center;
    margin: 5px; }
    .block-redes a img {
      max-width: 17%; }

@media screen and (min-width: 998px) {
  .cabecera {
    position: fixed;
    width: 100%;
    z-index: 9;
    padding: 17px; }
    .cabecera .navbar-nav li a {
      line-height: inherit !important;
      font-size: 15px !important; }
  .s1 .participa {
    font-size: 15px;
    margin: 60px 0;
    padding: 0 200px;
    line-height: 2.2em !important; }
    .s1 .participa span {
      line-height: inherit; }
  .s1 .block-redes {
    max-width: 260px;
    padding: 35px 0px;
    position: absolute;
    right: 0px;
    margin-right: 25px;
    margin-bottom: 25px; }
    .s1 .block-redes img {
      max-width: 100%; }
  .seccionFooterComercial {
    width: 100% !important;
    right: inherit !important;
    bottom: 45px; }
    .seccionFooterComercial .footer-comercial {
      position: relative;
      height: 91px;
      width: 100%;
      margin: 0 auto; }
    .seccionFooterComercial img {
      right: 35px;
      bottom: 5px;
      margin-right: inherit; } 
      .tituloRecetas{
        margin-top: 200px;
      } 
    .tituloRecetas hr{	
        width: 100%;
        max-width: 500px;
        margin:10px 0px 0px 0px;
      }
      .productosRecetas span{
        font-size: 1.7em;
      }

      #placeholderComercial{
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  }

@media screen and (min-width: 1200px) {
  .tituloRecetas{
    margin-top: 200px;
  } 
  .cabecera .navbar-nav li a {
    line-height: 35px !important;
    font-size: 20px !important; } 
  
}
@media screen and (min-width: 1225px) {
  .tituloRecetas{
    font-size: 0.8rem;
    margin-top: 0px;
  } 

}

@media screen and (min-width: 1570px) {
  .tituloRecetas{
    margin-top: 100px;
  } 

}